<form #f="ngForm" ngNativeValidate (ngSubmit)="onSubmit()" enctype="multipart/form-data" autocomplete="off">
    <div class="row">
        <div class="col-md-6 mb-3">

            <h5 class="">Vignette Informations</h5>
            <div class="form-control mb-3">
                <div class="row">

                    <div class="form-group mb-3">
                        <label for="vehicleMarque" class="form-label">Vehicle</label>
                        <select name="vehicleMarque" required class="form-select" (change)="onChange($event)">
                            <option value="">Please choose the vehicle</option>

                            <option *ngFor="let vehicle of allVehicles" value="{{vehicle.id}},{{vehicle.marque}}"
                                [selected]="(currentVignette.vehicleId == vehicle.id)">

                                {{vehicle.marque}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="type" class="form-label">Type</label>
                        <input name="type" required  [(ngModel)]="currentVignette.type" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input name="price" step=".01" type="number" required  [(ngModel)]="currentVignette.price" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                        <label for="dueDate" class="form-label">Due Date</label>
                        <input name="dueDate" type="date" required  [(ngModel)]="currentVignette.dueDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group mt-3 clearfix">
                    <a routerLink="/vignettes/{{currentVignette.id}}"
                        class="btn btn-outline-secondary float-end ms-3">Cancel
                    </a>
                    <button type="submit" class="btn btn-primary float-end">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>