<!-- Error -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">The data has been reseted</h2>
        <a routerLink="/logout" class="btn btn-primary">Back to home</a>
        <div class="mt-2">
            <img src="/assets/img/illustrations/girl-doing-yoga-light.png" alt="error-Unauthorized-page" width="500"
                class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-light.png"
                data-app-light-img="illustrations/girl-doing-yoga-light.png" />
        </div>
    </div>
</div>