<!-- Error -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Small screen size :(</h2>
        <p class="mb-4 mx-2">Oops! 😖 Your device is too small to show the website.
            Please get a bigger one.
        </p>
        <div class="mt-3">
            <img src="/assets/img/illustrations/small-screen-size.png" alt="page-misc-error-light" width="400"
                class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png"
                data-app-light-img="illustrations/page-misc-error-light.png" />
        </div>
    </div>
</div>