<!-- Error -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">You are not allowed :(</h2>
        <p class="mb-4 mx-2">Oops! 😖 You don't have the privilege to go to the requested URL</p>
        <a (click)="onBack()" class="btn btn-primary">Back to home</a>
        <div class="mt-2">
            <img src="/assets/img/illustrations/error-Unauthorized-pana.png" alt="error-Unauthorized-page"
                width="500" class="img-fluid" data-app-dark-img="illustrations/error-Unauthorized-pana.png"
                data-app-light-img="illustrations/error-Unauthorized-pana.png" />
        </div>
    </div>
</div>