.imgVehicleCarousel {
  height: 300px !important;
}

/*    CREATE USER   */

.myImgUserCreate {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

/*    INDEX USER   */ 
.myImgUserTable {
  object-fit: cover;
}

/*    DETAIL USER   */
.myImgUserDetail {
  width: 270px;
  height: 270px;
  object-fit: cover;
}

/*    UPDATE USER   */
.myImgUserUpdate {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

/*    CREATE VEHICLE   */

.myImgVehicleCreate {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*    INDEX VEHICLE   */ 
.myImgVehicleTable {
  object-fit: cover;
}

/*    DETAIL VEHICLE   */
.myImgVehicleDetail {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

/*    UPDATE VEHICLE   */
.myImgVehicleUpdate {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*    CARD USER   */
.myCardImgUser{
  width: 90%;
  height: 90%;
  /* object-fit: cover; */
}

/*    CARD VEHICLE   */
.myCardImgVehicle{
  width: 90%;
  height: 90%;
  /* object-fit: cover; */
}

/*    LOGIN USER   */
.myImgUserLogin {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
